 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 html,
 body {
     width: 100%;
     height: 100%;
 }

 @property --hover {
     syntax: "<length>";
     inherits: false;
     initial-value: 7vw;
 }

 body {
     background-color: white;
     anchor-name: --omkar-anchor;
 }

 main {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px 0;
 }

 .nav-wraper {
     width: fit-content;
     display: flex;
 }

 a {
     text-decoration: none;
 }

 .box {
     padding: 14px 10px;
 }

 .box a {
     padding: 8px 16px;
     border-radius: 8px;
     color: #fff;
     font-weight: 500;
     transition: all 0.3s linear;
 }

 .nav-wraper:has(.box:hover) a {
     color: #272727;
 }

 .box:hover a {
     color: #fff !important;
 }

 .box:hover {
     anchor-name: --omkar-anchor;
 }

 .anchor {
     display: flex;
     align-items: center;
     justify-content: center;
     --hover: 7vw;
     font-size: var(--hover);
     transition: font-size 0.3s linear;
     background-color: #272727;
     border-radius: 8px;
     opacity: 1;
     pointer-events: none;
     /* mix-blend-mode: exclusion; */
     position: fixed;
     position-anchor: --omkar-anchor;
     top: anchor(top);
     left: anchor(left);
     bottom: anchor(bottom);
     right: anchor(right);
     transition: all 0.3s linear;
     z-index: -1;
 }

 .nav-wraper:hover .anchor {
     --hover: 0vw;
 }